<%= render "submenu" %>
<div id='records'>
  <% if @inquiries.any? -%>
    <ul>
      <%- @inquiries.each do |inquiry| -%>
        <li><%= inquiry.email %></li>
      <%- end -%>
    </ul>
  <% else -%>
    <p>
      <strong><%= t(".no_opt_in") %></strong>
    </p>
  <% end -%>
</div>
